n8n-workflows/activity-log-mcp.json
{
  "updatedAt": "2026-06-01T01:45:35.959Z",
  "createdAt": "2026-06-01T00:33:16.792Z",
  "id": "BFXJL2iViZngehYh",
  "name": "NutriTrace Activity Log - MCP",
  "description": "Log a manual activity/workout (name, kcal, duration, distance)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutritrace-activity-log",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "id": "2804c0d1-ee92-4a94-bf33-f10dd8ca6cc0",
      "webhookId": "52c070ef-b139-4aca-9e41-7a03e0c29927"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.111.123.105:3003/mcp",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params.name",
              "value": "nutritrace_activity_log"
            },
            {
              "name": "params.arguments",
              "value": "={{ JSON.stringify({date: $json.body.date, name: $json.body.name, kcal: Number($json.body.kcal), duration_min: $json.body.duration_min ? Number($json.body.duration_min) : undefined, distance: $json.body.distance ? Number($json.body.distance) : undefined}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "name": "HTTP Request",
      "id": "02af1768-01e5-4070-baeb-a86b3b18316c"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "name": "Unwrap MCP Response",
      "id": "fa3963dd-d2eb-4da3-ba99-df0ae94befd2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unwrap MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
  "activeVersionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-01T00:33:16.792Z",
      "createdAt": "2026-06-01T00:33:16.792Z",
      "role": "workflow:owner",
      "workflowId": "BFXJL2iViZngehYh",
      "projectId": "LExf25TmLJNwbA8w",
      "project": {
        "updatedAt": "2026-03-20T03:26:59.983Z",
        "createdAt": "2026-03-19T05:47:10.249Z",
        "id": "LExf25TmLJNwbA8w",
        "name": "Ck Chiam <cheekong.chiam@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-01T00:33:16.792Z",
    "createdAt": "2026-06-01T00:33:16.792Z",
    "versionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
    "workflowId": "BFXJL2iViZngehYh",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "nutritrace-activity-log",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "name": "Webhook",
        "id": "2804c0d1-ee92-4a94-bf33-f10dd8ca6cc0",
        "webhookId": "52c070ef-b139-4aca-9e41-7a03e0c29927"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://100.111.123.105:3003/mcp",
          "sendBody": true,
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "jsonrpc",
                "value": "2.0"
              },
              {
                "name": "id",
                "value": "1"
              },
              {
                "name": "method",
                "value": "tools/call"
              },
              {
                "name": "params.name",
                "value": "nutritrace_activity_log"
              },
              {
                "name": "params.arguments",
                "value": "={{ JSON.stringify({date: $json.body.date, name: $json.body.name, kcal: Number($json.body.kcal), duration_min: $json.body.duration_min ? Number($json.body.duration_min) : undefined, distance: $json.body.distance ? Number($json.body.distance) : undefined}) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          0
        ],
        "name": "HTTP Request",
        "id": "02af1768-01e5-4070-baeb-a86b3b18316c"
      },
      {
        "parameters": {
          "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          0
        ],
        "name": "Unwrap MCP Response",
        "id": "fa3963dd-d2eb-4da3-ba99-df0ae94befd2"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Unwrap MCP Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Ck Chiam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-01T00:33:16.906Z",
        "id": 121,
        "workflowId": "BFXJL2iViZngehYh",
        "versionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:36.006Z",
        "id": 124,
        "workflowId": "BFXJL2iViZngehYh",
        "versionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
        "event": "deactivated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:36.024Z",
        "id": 125,
        "workflowId": "BFXJL2iViZngehYh",
        "versionId": "a068995d-63c6-4671-87da-4e76c3aec1b1",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    ]
  }
}
