n8n-workflows/activity-sum-mcp.json
{
  "updatedAt": "2026-06-01T02:24:56.563Z",
  "createdAt": "2026-06-01T00:33:16.470Z",
  "id": "R4PgMB1a0mG4Fzvf",
  "name": "NutriTrace Activity Sum - MCP",
  "description": "Get daily activity calorie summary (manual + wearable)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutritrace-activity-sum",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "id": "569a2d96-6b8d-459d-b6a0-7e997c89887a",
      "webhookId": "efec5209-e67f-4fc9-b1b5-8adcdd67bf02"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.111.123.105:3003/mcp",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params.name",
              "value": "nutritrace_activity_sum"
            },
            {
              "name": "params.arguments",
              "value": "={{ JSON.stringify({date: $json.query.date}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "name": "HTTP Request",
      "id": "131108c1-4b33-496d-b876-159189746a06"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "name": "Unwrap MCP Response",
      "id": "6ecde8e9-0306-4a0e-9e5e-0c03b645ba5b"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unwrap MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "5e1d7927-4daf-40eb-9e9d-ae890b0f83f2",
  "activeVersionId": "5e1d7927-4daf-40eb-9e9d-ae890b0f83f2",
  "versionCounter": 12,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-01T00:33:16.470Z",
      "createdAt": "2026-06-01T00:33:16.470Z",
      "role": "workflow:owner",
      "workflowId": "R4PgMB1a0mG4Fzvf",
      "projectId": "LExf25TmLJNwbA8w",
      "project": {
        "updatedAt": "2026-03-20T03:26:59.983Z",
        "createdAt": "2026-03-19T05:47:10.249Z",
        "id": "LExf25TmLJNwbA8w",
        "name": "Ck Chiam <cheekong.chiam@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-01T02:24:56.567Z",
    "createdAt": "2026-06-01T02:24:56.567Z",
    "versionId": "5e1d7927-4daf-40eb-9e9d-ae890b0f83f2",
    "workflowId": "R4PgMB1a0mG4Fzvf",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "nutritrace-activity-sum",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "name": "Webhook",
        "id": "569a2d96-6b8d-459d-b6a0-7e997c89887a",
        "webhookId": "efec5209-e67f-4fc9-b1b5-8adcdd67bf02"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://100.111.123.105:3003/mcp",
          "sendBody": true,
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "jsonrpc",
                "value": "2.0"
              },
              {
                "name": "id",
                "value": "1"
              },
              {
                "name": "method",
                "value": "tools/call"
              },
              {
                "name": "params.name",
                "value": "nutritrace_activity_sum"
              },
              {
                "name": "params.arguments",
                "value": "={{ JSON.stringify({date: $json.query.date}) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          0
        ],
        "name": "HTTP Request",
        "id": "131108c1-4b33-496d-b876-159189746a06"
      },
      {
        "parameters": {
          "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          0
        ],
        "name": "Unwrap MCP Response",
        "id": "6ecde8e9-0306-4a0e-9e5e-0c03b645ba5b"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Unwrap MCP Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Ck Chiam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-01T02:24:56.800Z",
        "id": 134,
        "workflowId": "R4PgMB1a0mG4Fzvf",
        "versionId": "5e1d7927-4daf-40eb-9e9d-ae890b0f83f2",
        "event": "deactivated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T02:24:56.929Z",
        "id": 135,
        "workflowId": "R4PgMB1a0mG4Fzvf",
        "versionId": "5e1d7927-4daf-40eb-9e9d-ae890b0f83f2",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    ]
  }
}
