n8n-workflows/activity-get-mcp.json
{
  "updatedAt": "2026-06-01T01:45:35.504Z",
  "createdAt": "2026-06-01T00:33:16.291Z",
  "id": "WjD9xkYlPNEILA7h",
  "name": "NutriTrace Activity Get - MCP",
  "description": "Get logged activities/workouts for a date",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutritrace-activity-get",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "id": "fc75b4bf-959f-4649-8017-100e4d2c3a56",
      "webhookId": "14255ab6-19aa-4ca4-ad36-fcb836ac9235"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.111.123.105:3003/mcp",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params.name",
              "value": "nutritrace_activity_get"
            },
            {
              "name": "params.arguments",
              "value": "={{ JSON.stringify({date: $json.query.date}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "name": "HTTP Request",
      "id": "33473094-c59b-4062-a391-ac43bb406a57"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "name": "Unwrap MCP Response",
      "id": "53b930d4-81fa-4085-833f-3816e137ca03"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unwrap MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
  "activeVersionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-01T00:33:16.291Z",
      "createdAt": "2026-06-01T00:33:16.291Z",
      "role": "workflow:owner",
      "workflowId": "WjD9xkYlPNEILA7h",
      "projectId": "LExf25TmLJNwbA8w",
      "project": {
        "updatedAt": "2026-03-20T03:26:59.983Z",
        "createdAt": "2026-03-19T05:47:10.249Z",
        "id": "LExf25TmLJNwbA8w",
        "name": "Ck Chiam <cheekong.chiam@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-01T00:33:16.291Z",
    "createdAt": "2026-06-01T00:33:16.291Z",
    "versionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
    "workflowId": "WjD9xkYlPNEILA7h",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "nutritrace-activity-get",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "name": "Webhook",
        "id": "fc75b4bf-959f-4649-8017-100e4d2c3a56",
        "webhookId": "14255ab6-19aa-4ca4-ad36-fcb836ac9235"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://100.111.123.105:3003/mcp",
          "sendBody": true,
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "jsonrpc",
                "value": "2.0"
              },
              {
                "name": "id",
                "value": "1"
              },
              {
                "name": "method",
                "value": "tools/call"
              },
              {
                "name": "params.name",
                "value": "nutritrace_activity_get"
              },
              {
                "name": "params.arguments",
                "value": "={{ JSON.stringify({date: $json.query.date}) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          0
        ],
        "name": "HTTP Request",
        "id": "33473094-c59b-4062-a391-ac43bb406a57"
      },
      {
        "parameters": {
          "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          0
        ],
        "name": "Unwrap MCP Response",
        "id": "53b930d4-81fa-4085-833f-3816e137ca03"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Unwrap MCP Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Ck Chiam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-01T00:33:16.426Z",
        "id": 119,
        "workflowId": "WjD9xkYlPNEILA7h",
        "versionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:35.827Z",
        "id": 122,
        "workflowId": "WjD9xkYlPNEILA7h",
        "versionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
        "event": "deactivated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:35.864Z",
        "id": 123,
        "workflowId": "WjD9xkYlPNEILA7h",
        "versionId": "cb08f0fc-1caf-4a4c-b487-8b882b671c14",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    ]
  }
}
