n8n-workflows/health-mcp.json
{
  "updatedAt": "2026-06-01T01:45:36.465Z",
  "createdAt": "2026-06-01T00:33:13.491Z",
  "id": "qre5SJtubdbFhHM4",
  "name": "NutriTrace Health - MCP",
  "description": "Check NutriTrace API + MCP server health status",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutritrace-health",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "id": "cbcdc644-de15-41bf-83e3-d63a2c06e04d",
      "webhookId": "0212bd76-c899-4b65-8a21-380f1759edf2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.111.123.105:3003/mcp",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params.name",
              "value": "nutritrace_health"
            },
            {
              "name": "params.arguments",
              "value": "{}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "name": "HTTP Request",
      "id": "6c728882-8510-4d5a-87d4-8b8980c1756f"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "name": "Unwrap MCP Response",
      "id": "5a9335a1-fe4d-4d6a-a449-0096194cecd5"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unwrap MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
  "activeVersionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-01T00:33:13.491Z",
      "createdAt": "2026-06-01T00:33:13.491Z",
      "role": "workflow:owner",
      "workflowId": "qre5SJtubdbFhHM4",
      "projectId": "LExf25TmLJNwbA8w",
      "project": {
        "updatedAt": "2026-03-20T03:26:59.983Z",
        "createdAt": "2026-03-19T05:47:10.249Z",
        "id": "LExf25TmLJNwbA8w",
        "name": "Ck Chiam <cheekong.chiam@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-01T00:33:13.491Z",
    "createdAt": "2026-06-01T00:33:13.491Z",
    "versionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
    "workflowId": "qre5SJtubdbFhHM4",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "nutritrace-health",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "name": "Webhook",
        "id": "cbcdc644-de15-41bf-83e3-d63a2c06e04d",
        "webhookId": "0212bd76-c899-4b65-8a21-380f1759edf2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://100.111.123.105:3003/mcp",
          "sendBody": true,
          "bodyContentType": "json",
          "bodyParameters": {
            "parameters": [
              {
                "name": "jsonrpc",
                "value": "2.0"
              },
              {
                "name": "id",
                "value": "1"
              },
              {
                "name": "method",
                "value": "tools/call"
              },
              {
                "name": "params.name",
                "value": "nutritrace_health"
              },
              {
                "name": "params.arguments",
                "value": "{}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          250,
          0
        ],
        "name": "HTTP Request",
        "id": "6c728882-8510-4d5a-87d4-8b8980c1756f"
      },
      {
        "parameters": {
          "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          0
        ],
        "name": "Unwrap MCP Response",
        "id": "5a9335a1-fe4d-4d6a-a449-0096194cecd5"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Unwrap MCP Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Ck Chiam",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-01T00:33:15.403Z",
        "id": 117,
        "workflowId": "qre5SJtubdbFhHM4",
        "versionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:36.547Z",
        "id": 130,
        "workflowId": "qre5SJtubdbFhHM4",
        "versionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
        "event": "deactivated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      },
      {
        "createdAt": "2026-06-01T01:45:36.587Z",
        "id": 131,
        "workflowId": "qre5SJtubdbFhHM4",
        "versionId": "2e62eade-30d8-4bee-b27e-eded3c3884d0",
        "event": "activated",
        "userId": "3c4103eb-07a0-4cbb-afed-1afda385b2ca"
      }
    ]
  }
}
