n8n-workflows/nutritrace-diary-range-mcp.json
{
  "name": "NutriTrace Diary Range",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutritrace-diary-range",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Webhook",
      "id": "47bb4bca-52b5-40cf-9137-09d8bcd04b7f",
      "webhookId": "b652472e-4dbd-4f98-aac1-715818b50feb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.111.123.105:3003/mcp",
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params.name",
              "value": "nutritrace_diary_range"
            },
            {
              "name": "params.arguments",
              "value": "={{ JSON.stringify({from: $json.query.from, to: $json.query.to}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "name": "HTTP Request",
      "id": "337e9a65-0912-4675-b866-31933b2a2c13"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap MCP JSON-RPC response\nconst body = $input.first().json;\nif (body.error) {\n  throw new Error(body.error.message || 'MCP error');\n}\nconst text = body.result.content[0].text;\nconst parsed = JSON.parse(text);\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "name": "Unwrap MCP Response",
      "id": "088b595d-3608-47fe-8a19-020c1228df81"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Unwrap MCP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}